<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
        body{
            background:#eee;
        }
        #snippetContent{
            margin-top:20px;
            color: #708090;
        }
        .icon-1x {
            font-size: 24px !important;
        }
        a{
            text-decoration:none!important;
        }
        .text-primary, a.text-primary:focus, a.text-primary:hover {
            color: #00ADBB!important;
        }
        .text-black, .text-hover-black:hover {
            color: #000 !important;
        }
        .font-weight-bold {
            font-weight: 700 !important;
        }
    </style>
    <link rel="stylesheet" href="/css/custom.css">
    <title>code view</title>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div id="snippetContent">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <div class="col-lg-9 mb-3">
                <div class="row mb-5">
                    <div class="col-lg-10 mb-3 mb-sm-0">
                        <form id="searchForm" th:action="@{'/boards'}">
                            <input id="searchKeyword"  type="text" style="width: 80%" th:value="${title}"/>
                            <button onclick="searchBtn()" class="btn btn-success">검색</button>
                        </form>
                    </div>
                </div>
                <!-- End of post 1 -->
                <div th:each="board: ${boardList}" class="card row-hover pos-relative h-auto py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                    <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">

                            <h5>
                                <span th:text="${board.id}"></span>
                                <a th:href="@{'/boards/' + ${board.id}}" class="text-primary" th:text="${board.title}"></a>
                            </h5>
                            <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'MENTOR','TEACHER')" >
                            <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" th:href="@{'/boards/' + ${board.id}}" th:text="${#temporals.format(board.createdDate, 'yyyy년 M월 d일 a h시 m분')}"> </a><!-- <span class="op-6">ago by</span>--> <a class="text-gray" th:href="@{'/boards/' + ${board.id}}" th:text="'By ' + ${board.userName}">user</a></p>
                            </div>
                            <div sec:authorize="hasAnyRole('STUDENT')" >
                                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" th:href="@{'/boards/' + ${board.id}}" th:text="${#temporals.format(board.createdDate, 'yyyy년 M월 d일 a h시 m분')}"> </a><!-- <span class="op-6">ago by</span>--> <a class="text-gray" th:href="@{'/boards/' + ${board.id}}"></a></p>
                            </div>

                            <div class="text-sm op-5">
                                <a class="text-black mr-2" th:href="@{'/tasks/' + ${board.taskEntity.id}}" th:text=" '#' + ${board.taskEntity.getTitle()}">#Task Title</a>
                                <a class="text-black mr-2" th:href="@{'/boards/' + ${board.id}}" th:text="'#' + ${board.taskEntity.getWeek()+'주' + board.taskEntity.getDayOfWeek() + '일'}">#Default Date</a>
                                <a class="ms-3 candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a>
                                <a class="text-black mr-2" th:text="${board.likes}"></a>
                                <a class="text-black ms-4 mr-2" th:text="'comment ' + ${board.comments} + ' 개'"></a>
                            </div>
                        </div>
                        <div class="col-md-4 op-7" th:if="${#authentication.name} == ${board.userName} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <div class="list-unstyled mb-0 d-flex justify-content-end">
                                <form  th:action="@{'/boards/' + ${board.id}}" method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button style="border: 0; background-color: transparent;" class="text-danger far fa-trash-alt"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" th:if="${title} == null">
                    <br/>
                    <button class="btn page-btn" th:if="${nowPage != 1}" th:onclick="|location.href = '@{/boards(page=${1})}'|">&lt;&lt;</button>
                    <button class="btn page-btn" th:if="${nowPage != 1}" th:onclick="|location.href='@{/boards(page=${nowPage - 1})}'|">[[${nowPage - 1}]]</button>
                    <button class="btn page-btn-now">[[${nowPage}]]</button>
                    <button class="btn page-btn" th:if="${nowPage != lastPage}" th:onclick="|location.href='@{/boards(page=${nowPage + 1})}'|">[[${nowPage + 1}]]</button>
                    <button class="btn page-btn" th:if="${nowPage != lastPage}" th:onclick="|location.href='@{/boards(page=${lastPage})}'|">&gt;&gt;</button>
                    <br/><br/><br/>
                </div>
                <div align="center" th:if="${title} != null and !${nothing}">
                    <br/>
                    <button class="btn page-btn" th:if="${nowPage != 1}" th:onclick="|location.href = '@{/boards/search/{title}(title= ${title},page=${1})}'|">&lt;&lt;</button>
                    <button class="btn page-btn" th:if="${nowPage != 1}" th:onclick="|location.href='@{/boards/search/{title}(title= ${title},page=${nowPage - 1})}'|">[[${nowPage - 1}]]</button>
                    <button class="btn page-btn-now">[[${nowPage}]]</button>
                    <button class="btn page-btn" th:if="${nowPage != lastPage}" th:onclick="|location.href='@{/boards/search/{title}(title= ${title}, page= ${nowPage + 1})}'|">[[${nowPage + 1}]]</button>

                    <button class="btn page-btn" th:if="${nowPage != lastPage}" th:onclick="|location.href='@{/boards/search/{title}(title= ${title},page=${lastPage})}'|">&gt;&gt;</button>
                    <br/><br/><br/>
                </div>
            </div>
            <!-- Sidebar content -->
            <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
                <div style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;"></div><div data-settings="{&quot;parent&quot;:&quot;#content&quot;,&quot;mind&quot;:&quot;#header&quot;,&quot;top&quot;:10,&quot;breakpoint&quot;:992}" data-toggle="sticky" class="sticky" style="top: 85px;"><div class="sticky-inner">
                <a class="btn btn-lg btn-block btn-success rounded-0 py-4 mb-3 bg-op-6 roboto-bold" th:href="@{/boards/tasks/{taskId}(taskId=${nullTaskId})}">Ask Question</a>
                <!--댓글이 없는 질문 목록-->
                <div class="bg-white mb-3">
                    <div class="px-3 pt-4 pb-2 m-0">
                        <h4>No Comments</h4>
                        <span class="text-muted">댓글이 없는 질문입니다. 도움이 필요해요!</span>
                    </div>
                    <hr class="m-0">
                    <th:block th:each="board:${noCommentRank}">
                        <div class="px-3 py-3">
                            <a th:href="@{'/boards/' + ${board.id}}">
                                <div class="d-flex mb-3">
                                    <h6 class="text-primary text-sm" th:text="${board.title}"></h6>
                                    <div class="ms-auto text-black"><i class="fas fa-heart text-danger"></i> [[${board.getLikes()}]]</div>
                                    <div class="ms-2 text-black"><i class="fa-regular fa-comment"></i> 0</div>
                                </div>
                                <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'MENTOR','TEACHER')" class="text-sm"><span class="me-2 text-muted">Posted</span><span class="text-black me-2" th:text="${#temporals.format(board.createdDate, 'yyyy년 M월 d일 a h시 m분')}"></span><span class="text-muted" th:text="'By ' + ${board.userName}"></span></div>
                                <div sec:authorize="hasAnyRole('STUDENT')" class="text-sm"><span class="me-2 text-muted">Posted</span><span class="text-black" th:text="${#temporals.format(board.createdDate, 'yyyy년 M월 d일 a h시 m분')}"></span></div>
                            </a>
                        </div>
                        <hr class="m-0">
                    </th:block>
                </div>
                <!--좋아요가 높은 질문 목록-->
                <div class="bg-white text-sm">
                    <div class="px-3 pt-4 pb-2 m-0">
                        <h4>Like Rank</h4>
                        <span class="text-muted">좋아요를 많이 받은 질문입니다.</span>
                    </div>
                    <hr class="my-0">
                    <th:block th:each="board:${likeRank}">
                        <div class="px-3 py-3">
                            <a th:href="@{'/boards/' + ${board.id}}">
                                <div class="d-flex mb-3">
                                    <h6 class="text-primary text-sm" th:text="${board.title}"></h6>
                                    <div class="ms-auto text-black"><i class="fas fa-heart text-danger"></i> [[${board.getLikes()}]]</div>
                                    <div class="ms-2 text-black"><i class="fa-regular fa-comment"></i> [[${board.getComments()}]]</div>
                                </div>
                                <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'MENTOR','TEACHER')" class="text-sm"><span class="me-2 text-muted">Posted</span><span class="text-black me-2" th:text="${#temporals.format(board.createdDate, 'yyyy년 M월 d일 a h시 m분')}"></span><span class="text-muted" th:text="'By ' + ${board.userName}"></span></div>
                                <div sec:authorize="hasAnyRole('STUDENT')" class="text-sm"><span class="me-2 text-muted">Posted</span><span class="text-black" th:text="${#temporals.format(board.createdDate, 'yyyy년 M월 d일 a h시 m분')}"></span></div>
                            </a>
                        </div>
                        <hr class="m-0">
                    </th:block>
                </div>
            </div></div>
            </div>
        </div>
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script>
    function searchBtn (){
        let keyword = document.getElementById("searchKeyword").value
        if(keyword.length === 0){
            return;
        }
        document.querySelector("#searchForm").action = "/boards/search/"+keyword
        console.log(document.querySelector("#searchForm").action)
    }
</script>
</body>
</html>