<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header.html :: head}">

</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div>
    <form th:method="post" th:action="@{/courses/students}" th:object="${filterInfo}" style="width: 50vw;display: inline-block;">
        <div class="row">
            <div class="col-sm-auto">
                <label for="week" id="course" class = "btn" th:text="${courseName}" />
                <select class="form-select" th:field="*{week}" id="week" style="width:70px; display: inline-block">
                    <option th:value="${week}" th:text="${week}"/>
                    <option th:each="week : ${#numbers.sequence(1,53)}" th:value="${week}" th:text="${week}"/>
                </select>
                <label for="day" class = "btn">주차</label>
                <select class="form-select" th:field="*{day}" id="day" style="width:70px;margin-top:10px; display: inline-block">
                    <option th:value="${day}" th:text="${day}"/>
                    <option th:each="day : ${#numbers.sequence(1,7)}" th:value="${day}" th:text="${day}"/>
                </select>
                <label for="day" class="btn">일차</label>
                <button class="btn btn-primary btn-sm" type="submit">조회</button>
            </div>
        </div>
    </form>
    <select id="selTaskId" class="form-select" onchange="setTaskId(this.value)" style="width:20vw; display: inline-block">
        <option th:each="task :${taskList}" th:value="${task.id}" th:text="${task.title}"></option>
    </select>
    <a th:href="@{'/boards/tasks'}" id="questionUrl">
        <button type="button" class="btn btn-success btn-sm">질문하러가기</button>
    </a>
    <hr/>
</div>
    <div class="table-responsive overflow-x-auto">
        <table class="table table-sm table-bordered" id="myTable">
            <thead class="thead-dark">
            <tr>
                <th th:text="${authName}"></th>
                <div th:each="taskList : ${taskList}">
                    <th th:attr="data-task_id=${taskList.id}">
                        <a href="/tasks/write.html" id="popUp" th:href="@{/tasks/{taskId}(taskId=${taskList.id})}" th:value="${taskList.title}" th:text="${taskList.title}"/>
                        <div class="collapse" id="taskProgress" >
                            <div class="card card-body"></div>
                        </div>
                    </th>
                </div>
            </tr>
            </thead>
            <tbody>
            <!--학생이름 상태1, 상태2 순으로 뿌려줌-->
            <tr th:classappend="${studentTask.userName == authName} ? 'table-primary' : ''" th:each="studentTask, stat : ${studentTaskList}">
                <td th:attr="data-user_id=${studentTask.id}" >
                    <label th:text="${studentTask.realName}"></label>
                    <div class="collapse" id="userProgress">
                        <div class="card card-body" id="userProgressText">
                        </div>
                    </div>
                </td>
                <div th:each="status : ${studentTask.status}">
                  <td id="test-td" th:attr="data-task_id=${status.taskId}, data-task_name=${status.taskName}, data-user_id=${studentTask.id}"
                      th:classappend="${status.taskStatus == 'Task등록'} ? 'table-warning' : ''">
                      <div th:if="${studentTask.userName == authName}">
                          <select id="status" th:value="${status.taskId}"
                                  class="form-select form-select-sm" style="width:130px;float:left" th:attr="data-task_id=${status.taskId},data-user_id=${studentTask.id}">
                              <option th:text="${status.taskStatus}"></option>
                              <option value="IN_PROGRESS">진행중</option>
                              <option value="DONE">완료</option>
                              <option value="ERROR">에러</option>
                          </select>
                      </div>
                      <div th:if="${studentTask.userName != authName}">
                          <span class="badge bg-primary" th:if="${status.taskStatus == 'DONE'}">완료</span>
                          <span class="badge bg-success" th:if="${status.taskStatus == 'IN_PROGRESS'}">진행중</span>
                          <span class="badge bg-danger" th:if="${status.taskStatus == 'ERROR'}">에러</span>
<!--                          <span class="badge bg-secondary" th:if="${status.taskStatus == 'Task등록'}">Task진행 예정</span>-->
<!--                          <span th:text="${status.taskStatus}"></span>-->
<!--                          <span th:text="${status.taskStatus == 'ERROR'}"></span>-->
                          <span th:if="${status.taskStatus == 'Task등록'}">Task등록</span>
                      </div>
                  </td>

                </div>
            </tr>
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        // cell 클릭 시 해당 taskId, status, userId /userTasks/sendUserTask로 전송
        $(document).ready(function() {
            // task 별 진행 상황
            $('th').click(function(){
                var currentRow=$(this).closest("tr")
                var thindex = $('th').index(this);
                let taskId = currentRow.find("th:eq("+thindex+")").data('task_id');
                var courseName = $("label[for=week]").text();
                //ajax로 taskid 보내서 값 가져옴.
                $.ajax({
                    type: 'POST',
                    url: '/userTasks/progressForTask',
                    data: {
                        taskId : taskId,
                        courseName: courseName,
                    }
                    , success: function (res) {
                        currentRow.find("th:eq("+thindex+")").children('div div').text("진행 상황: " + res +"%");
                        currentRow.find("th:eq("+thindex+")").children('#taskProgress').toggle();
                    }

                });

            });

            //학생 별 진행 상황 
            $('td').click(function(){
                var tdindex = this.cellIndex;
                var currentRow=$(this).closest("tr");
                var userId = currentRow.find("td:eq("+tdindex+")").data('user_id');
                var week =$("select[name=week]").val();
                var day =$("select[name=day]").val();

                if(tdindex == 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/userTasks/progressForStudent',
                        data: {
                            week: week,
                            day: day,
                            userId: userId
                        }
                        , success: function (res) {
                            let totalTask = res["totalTask"];
                            let totalTaskOfStudent = res["totalTaskOfStudent"];
                            let temp = (totalTaskOfStudent / totalTask ) * 100;
                            let result = Math.round(temp);
                            if (isNaN(result)) { // 값이 없어서 NaN값이 나올 경우
                                result = 0;
                            }
                            currentRow.find("td:eq("+tdindex+")").children('div div').text("진행 상황: " + result +"%");
                            currentRow.find("td:eq("+tdindex+")").children('#userProgress').toggle();
                        }
                    })
                }

            });

            $('td').change(function(){
                var tdindex = this.cellIndex;
                var trindex = $('tr').index($(this).parent())+1;
                var currentRow=$(this).closest("tr");

                let status = currentRow.find("td:eq("+tdindex+") select").val();
                let taskId = currentRow.find("td:eq("+tdindex+")").data('task_id');
                let taskName = currentRow.find("td:eq("+tdindex+")").data('task_name');
                let userId = currentRow.find("td:eq("+tdindex+")").data('user_id');

                $.ajax({
                    type: 'POST',
                    url: '/userTasks/sendUserTask',
                    data: {
                        status : status,
                        taskId : taskId,
                        taskName: taskName,
                        userId : userId
                    }
                    , success: function (res) {
                        if(res == "NOT_USER") {
                            alert("해당 권한이 없습니다.");
                            window.location.href = "/courses/students"
                        }
                        else{
                            alert("등록 완료되었습니다.");
                        }
                    }
                });

            });
        });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let week = /*[[${week}]]*/ 1;
        let day = /*[[${day}]]*/ 1;
        console.log(week, day);
        // taskId 기본값 설정
        let task = document.getElementById("selTaskId").value;
        document.querySelector('#questionUrl').href = `/boards/tasks/${task}/weeks/${week}/days/${day}`;
        console.log(document.querySelector('#questionUrl').href)

        // taskId 동적 변경
        function setTaskId(taskId) {
            document.querySelector('#questionUrl').href = `/boards/tasks/${taskId}/weeks/${week}/days/${day}`;
            console.log(document.querySelector('#questionUrl').href)
        }


        /*]]>*/
    </script>
</body>



</html>

